{% extends 'base.html' %}

{% block main_content %}
<div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Configuration</h1>
</div>
<div class="row">
    <h5>Recommended Soil Moisture Conditions:</h5>
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3">
        <div class="col  input-group me-5">
            <span class="input-group-text" for="vIdeal">Ideal Value (%)</span>
            <input class="form-control" type="number" id="vIdeal" value="">
        </div>
        <div class="col input-group">
            <span class="input-group-text" for="intVaria">Variation Range (%)</span>
            <input class="form-control" type="number" id="intVaria" value="">
        </div>
    </div>
</div>
<div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Atmospheric</h1>
</div>
<div class="row">
    <div class="col">
        <canvas id="atmChart" style="width:100%;height:400px;"></canvas>
    </div>
    <div class="col-4">
        <dl class="row mt-4">
            <dt class="col-6">
                Humidity
            </dt>
            <dd class="col-6" id="humidity"></dd>

            <dt class="col-6">
                Probability of Rain
            </dt>
            <dd class="col-6" id="probRain"></dd>

            <dt class="col-6">
                Irrigation
            </dt>
            <dd class="col-6" id="irrigation"></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <script>

        var socket = io('http://' + document.domain + ':' + location.port);
        
        var atmChart = new Chart($('#atmChart'), {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                    {
                        label: 'Probability of Rain (%)',
                        data: [],
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        borderColor: '#2196f3',
                        yAxisID: 'y',
                    },
                    {
                        label: 'Humidity (%RH)',
                        data: [],
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        borderColor: '#f44336',
                        yAxisID: 'y1',
                    },
                    {
                        label: 'Irrigation',
                        data: [],
                        backgroundColor: 'rgba(232, 181, 35, 0.3)', // Cor de fundo das barras
                        borderColor: 'rgba(232, 181, 35, 1)', // Cor da borda das barras
                        borderWidth: 1, // Largura da borda das barras
                        yAxisID: 'y2', // Eixo y associado para as barras
                        type: 'bar', // Tipo de gráfico (barra)
                    }
                ]
            },
            options: {
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: "left",
                        max: 100,
                        min: 0
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        max: 100,
                        min: 0
                    },
                    y2:{
                        display: false
                    }
                }
            }
        });

        socket.on('data_update', function (data) {
            data = JSON.parse(data);

            document.getElementById('vIdeal').value = data.vIdeal;
            document.getElementById('intVaria').value = data.intVaria;
            $('#humidity').html(data.humidity + '%');
            $('#probRain').html(data.probRain + '%');
            $('#irrigation').html(data.irrigation ? 'Done': ' ');

            
            atmChart.data.datasets[0].data.push(data.probRain);
            atmChart.data.datasets[1].data.push(data.humidity);
            atmChart.data.datasets[2].data.push(data.irrigation);
            atmChart.data.labels.push(moment().format('hh:mm:ss'));

            
            if (atmChart.data.datasets[0].data.length > 30) {
                
                atmChart.data.datasets[0].data.shift();
                atmChart.data.datasets[1].data.shift();
                atmChart.data.datasets[2].data.shift();
                atmChart.data.labels.shift();

            }

            
            atmChart.update();
        });


        var inputvlIdeal = document.getElementById('vIdeal');
        inputvlIdeal.addEventListener('change', function(){
            
            inputValue = inputvlIdeal.value;
            
            // Defina os limites dinamicamente conforme necessário
            var minLimit = 0;
            var maxLimit = 100;
            
            if (inputValue < minLimit) {
                this.value = minLimit;
            } else if (inputValue > maxLimit) {
                this.value = maxLimit;
            }

            console.log(inputvlIdeal.value);

            socket.emit('update', {vlIdeal: inputvlIdeal.value});
        });

        var inputIntVaria = document.getElementById('intVaria');
        inputIntVaria.addEventListener('change', function(){
            
            inputValue = inputIntVaria.value;
            
            // Defina os limites dinamicamente conforme necessário
            var minLimit = 0;
            var maxLimit = 100;
            
            if (inputValue < minLimit) {
                this.value = minLimit;
            } else if (inputValue > maxLimit) {
                this.value = maxLimit;
            }

            console.log(inputIntVaria.value);

            socket.emit('update', {intVaria: inputIntVaria.value});
        });
    </script>
{% endblock %}